body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size:  20px;
	line-height: 25px;
}
header{ 
	text-align: center;
	letter-spacing: 10px;
	padding-bottom: 50px;
	font-size: 30px;
	text-transform: uppercase;
}

header h1, h2{
	font-family: 'Bangers', cursive;
}

h1, h2{
	letter-spacing: 3px;
}

h1{
	color: hotpink;
}

header img{
	width: 500px;
}

main{
	max-width: 800px;
	margin: 0 auto;
}

h2{
	font-size: 30px;
	color:  forestgreen;
	margin: 50px 0 -10px;
}

main img{
	max-width: 100%;
}

p.caption{
	color: lightgrey;
	font-size: 15px;
	font-style: italic;
	margin-top: 0;
}

a{
	color: forestgreen;
}
a:hover{
	color: white;
	background-color: forestgreen;
}

footer{
	background-color: #F48FB1;
	text-align: center;
	color: white;
	padding:  30px;
}

footer a{
	padding: 0;
}
